{% extends 'workshop_app/base.html' %}
{% load static %}

{% block title %}
    Add new Workshop type
{% endblock %}

{% block extra-dependencies %}
    <link rel="stylesheet" href="{% static 'workshop_app/css/edit_workshop_type.css' %}">
{% endblock %}

{% block extra-custom-scripts %}

    <script src="{% static 'workshop_app/js/jquery.formset.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container ewt-page">
        <h2 class="text-center my-3">View / Edit Workshop Type</h2>
        <div class="card form-card shadow-sm">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label form-label">Workshop Name :</label>
                        <div class="col-md-9">
                            {{ form.name }}
                            <div class="text-danger">{{ form.name.errors }}</div>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label form-label">Duration :</label>
                        <div class="col-md-9">
                            {{ form.duration }}
                            <div class="help-text">{{ form.duration.help_text }}</div>
                            <div class="text-danger">{{ form.duration.errors }}</div>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label form-label">Description :</label>
                        <div class="col-md-9">
                            {{ form.description }}
                            <div class="text-danger">{{ form.description.errors }}</div>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label form-label">Terms and Conditions :</label>
                        <div class="col-md-9">
                            {{ form.terms_and_conditions }}
                            <div class="text-danger">{{ form.terms_and_conditions.errors }}</div>
                        </div>
                    </div>

                    <h4 class="text-center attachments-title">Attachments</h4>
                    {{ form_file.management_form }}
                    {{ form_file.non_form_errors }}
                    {% for form in form_file %}
                        <div class="inline {{ form_file.prefix }} my-3">
                            <div class="row align-items-center">
                                <div class="col-md-10">
                                    {% for field in form %}
                                        <div class="mb-2">{{ field }}</div>
                                    {% endfor %}
                                </div>
                                {% if form.id.value %}
                                <div class="col-md-2 text-end">
                                    <a href="{% url 'workshop_app:delete_attachment_file' form.id.value %}"><button class="btn btn-danger w-100 w-md-auto" type="button">Delete</button></a>
                                </div>
                                {% endif %}
                            </div>
                            <hr>
                        </div>
                    {% endfor %}

                    <div class="mt-3 actions">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $(".inline.{{ form_file.prefix }}").formset({
                prefix: "{{ form_file.prefix }}", // The form prefix for your django formset
                addCssClass: "btn btn-md btn-primary bordered inline-form-add", // CSS class applied to the add link
                deleteCssClass: "hidden", // CSS class applied to the delete link
                addText: 'Add another attachment', // Text for the add link
                deleteText: '',
                formCssClass: 'inline-form' // CSS class applied to each form in a formset
            })
        });
    </script>
{% endblock %}